---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <br>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <hr id="line">
		<div class="content">
		{{ post.excerpt }}
        </div>
		<br>
      </li>
    {% endfor %}
  </ul>
</div>


<!-- Pagination links -->
<div id="pagination">
  <div class="pagenavi">
    <span class="page_number">第{{paginator.page}}页/共{{paginator.total_pages}}页</span>
  <a href="/">首页</a>
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" class="current"><<前页</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}/"><<前页</a>
    {% endif %}
  {% else %}
    <span><<前页</span>
  {% endif %}
{% for count in (2..paginator.total_pages) limit:6 %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}/">{{count}}</a>
      {% endif %}
    {% endfor %}
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}/">后页>></a>
  {% else %}
    <span>后页>></span>
  {% endif %}
  <a href="/page{{paginator.total_pages}}/">末页</a>
</div>
</div>
